* {
  list-style-type: none;
}

/* HEADER */

header {
  align-items: center;
  justify-content: space-between;
  font-family : 'Zen Dots', cursive;
}
header > a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}
header > a:hover {
  color: white;
}

/* MAIN */

main {
  background-color: rgb(150, 150, 150);
}
.main {
  background-color: rgb(150, 150, 150);
}
.color-white {
  background-color: beige;
  box-shadow: 1px 1px 8px 1px black;
}
h1 {
  text-align: center;
}
img {
  width: 100%;
  height: 9rem;
  object-fit: cover;
}
figure {
  text-align: center;
}
.main__figure {
  border: 4px solid white;
  background-color: lightgoldenrodyellow;
}
p {
  text-align : justify;
}
.iframe__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.text-aling-center {
  text-align: center;
}
.color-degradate-green {
  background:linear-gradient(transparent, lightgreen, darkgreen);
}
.icon__box {
  font-size: 5rem;
}
.contact__data {
  color: white;
}

/* ASIDE */

.position--sticky {
  top: 3.5rem;
  position: sticky;
  max-width: 90%;
  margin: auto;
}
.aside__img {
  width  : 100%;
  object-fit : cover;
  height: 5rem;
}
.aside__a {
  height: 100%;
  display: block;
}
.figure-box {
  display: flex;
  justify-content: center;
}
.aside--padding {
  padding-left: 0;
}
.aside-box {
  background-color: blue;
  margin: 0;
  color: white;
  padding: 0.3rem;
  font-size: 1rem;
  text-align: center;
}
.aside__nav {
  padding: 0.3rem;
  background-color: blue;
}
.aside__ul {
  display: grid;
  gap: 0.3rem;
}

/* FOOTER */

footer {
  text-align: center;
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
}
h5 {
  font-weight: 900;
}